.indexImage {
  height: 450px;
  width: 400px;
  margin-left: 150px;
  margin-top: 30px;

}

.showImage {
  margin-left: 35%;
  width: 30%;
}

body {
  background-image: url("https://chrismartinphotography.files.wordpress.com/2013/01/2012-landscapes-c2a9-christopher-martin-93441.jpg");

}

.home, .index, .about, .new, .logout, .login, .register {
  margin-left: 80px;
  font-size: 20px;
}


.home:hover, .index:hover, .about:hover, .new:hover, .logout:hover, .login:hover, .register:hover {
  font-size: 30px;
}


#footer {
  margin-top: 6px;
  opacity: 0.8;
}

#header {
  margin-bottom: 20px;
  /* height: 70px; */
  opacity: 0.8;
}

#indexPageTiles {
  justify-content: center;
  opacity: 0.9;
}

textarea {
  width: 40%;
  height: 150px;
}

.ratingBox {
  width: 30%;
  height: 50px;
}

.media {
margin-left: 50px;
margin-right: 50px;
}

.editButton {
  padding-left: 30px;
}


h2 {
  font-size: 30px;
  text-align: center;
}

.showPageContent {
  margin-left: 10%;
  margin-right: 10%;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}



.type span {
  display:block;
}

.type {
  width:400px;
  height:400px;
  margin:50px auto;
	text-align: center;
	color: #F5C4B6;
  line-height:0.85;
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: bold;
}

.type span:nth-child(1) {
  font-size: 100px;
}

.type span:nth-child(2) {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  font-size: 60px;
  position: relative;
  z-index: 1;
  text-shadow: 5px 0 0 #F94F6A,
				-5px 0 0 #F94F6A,
				0 5px 0 #F94F6A,
				0 -5px 0 #F94F6A,
				4px 4px #F94F6A,
				-4px -4px 0 #F94F6A,
				4px -4px 0 #F94F6A,
				-4px 4px 0 #F94F6A;
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  color:#fff;
  margin-top:-5px;
}

.type span:nth-child(3) {
  font-size: 100px;
  margin-top:-12px;
}
