<form class="editForm" action="/films/<%= _id %>?_method=PUT" method="post">
  <input type="text" name="name" placeholder="Title">
  <input type="text" name="description" placeholder="description">
  <input type="number" name="releaseDate" placeholder="Which year was it release" >
  <input type="text" name="cast" placeholder="cast">
  <%# <input type="image" name="image" placeholder="Film Poster"> %>
  <button class="button is-info">EDIT</button>
</form>
