
<%# <link rel="stylesheet" href="/style.css"> %>
<div class = "films">


  <div id="indexPageTiles" class="tile is-ancestor">
    <div class="tile is-vertical is-8">
      <div class="tile">
        <div class="tile is-parent is-vertical">
          <article  class="tile is-child notification is-primary">
            <p class="title">Welcome</p>
            <p class="subtitle">..in the index page </p>
          </article>
          <article class="tile is-child notification is-warning">
            <p class="title"></p>
            <p class="subtitle">Have a look at all the films, if you would like to comment, edit or delete films. You'll have to <a href='/register'>register</a> then login.</p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification is-info">
            <p class="title">Coming soon</p>
            <figure class="image is-4by3">
              <img src="http://digm.drexel.edu/acelab/wp-content/uploads/2013/10/PosterCollage.jpg">
            </figure>
          </article>
        </div>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-danger">
          <div class="content">
            <% films.forEach(film => {%>
              <div>
              <a href="/films/<%= film.id %>">
              <img class="indexImage" src="<%= film.image %>"/>
              </a>
              </div>
              <% }) %>
            </div>
          </article>
        </div>
      </div>
    </div>
