<form class="newForm" action="/films" method="post">
  <input type="text" name="name" placeholder="Whats the film called?">
  <input type="text" name="description" placeholder="description">
  <input type="number" name="releaseDate" placeholder="Which year was it release?" >
  <input type="text" name="cast" placeholder="cast">
  <button class="button is-info">SUBMIT</button>
</form>
